In [2]:
>>> def add(a, b):
...     return a+b

In [3]:
>>> a = 3
>>> b = 4
>>> c = add(a, b)  # add(3, 4)의 리턴값을 c에 대입
>>> print(c)

7

In [4]:
def add(a, b): 
    result = a + b 
    return result

In [5]:
>>> a = add(3, 4)
>>> print(a)

7

In [6]:
>>> def add(a, b): 
...     print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [7]:
>>> add(3, 4)

3, 4의 합은 7입니다.

In [9]:
>>> print(a)

7

In [10]:
>>> def say(): 
...     print('Hi')

In [11]:
>>> say()

Hi

In [12]:
>>> def sub(a, b):
...     return a - b

In [13]:
>>> result = sub(a=7, b=3)  # a에 7, b에 3을 전달
>>> print(result)

4

In [14]:
>>> result = sub(b=5, a=3)  # b에 5, a에 3을 전달
>>> print(result)

-2

In [15]:
>>> def add_many(*args): 
...     result = 0 
...     for i in args: 
...         result = result + i   # *args에 입력받은 모든 값을 더한다.
...     return result

In [17]:
>>> result = add_many(1,2,3)
>>> print(result)

>>> result = add_many(1,2,3,4,5,6,7,8,9,10)
>>> print(result)

6
55

In [18]:
>>> def add_mul(choice, *args): 
...     if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
...         result = 0 
...         for i in args: 
...             result = result + i 
...     elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
...         result = 1 
...         for i in args: 
...             result = result * i 
...     return result

In [19]:
>>> result = add_mul('add', 1,2,3,4,5)
>>> print(result)

>>> result = add_mul('mul', 1,2,3,4,5)
>>> print(result)

15
120

In [20]:
>>> def print_kwargs(**kwargs):
...     print(kwargs)

In [22]:
>>> print_kwargs(a=1)
>>> print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [31]:
>>> def add_and_mul(a,b): 
...     return a+b, a*b

In [32]:
>>> result = add_and_mul(3,4)

In [37]:
>>> result1, result2 = add_and_mul(3, 4)
print(result1)
print(result2)

7
12

In [26]:

>>> def add_and_mul(a,b): 
...     return a+b 
...     return a*b

In [27]:
>>> result = add_and_mul(2, 3)
>>> print(result)

5

In [38]:
>>> def add_and_mul(a,b): 
...     return a+b

In [39]:
>>> def say_nick(nick): 
...     if nick == "바보": 
...         return 
...     print("나의 별명은 %s 입니다." % nick)

In [40]:
>>> say_nick('야호')
>>> say_nick('바보')

나의 별명은 야호 입니다.

In [41]:
# default1.py
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [42]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [43]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [44]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [45]:
# default2.py
def say_myself(name, man=True, age): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (2520815712.py, line 2)

In [46]:
# vartest.py
a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1

In [47]:
def vartest(hello):
    hello = hello + 1

In [48]:
# vartest_error.py
def vartest(a):
    a = a + 1

vartest(3)
print(a)

1

In [50]:
# vartest_return.py
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [49]:
# vartest_global.py
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

In [51]:
>>> add = lambda a, b: a+b
>>> result = add(3, 4)
>>> print(result)

7

In [52]:
>>> def add(a, b):
...     return a+b
...
>>> result = add(3, 4)
>>> print(result)

7

In [ ]:
>>> a = input()
>>> a

In [ ]:
input("안내_문구")

In [ ]:
>>> number = input("숫자를 입력하세요: ")

In [ ]:
>>> number = input("숫자를 입력하세요: ")
>>> print(number)

In [ ]:
>>> type(number)
<class 'str'>

In [ ]:
>>> a = 123
>>> print(a)
123
>>> a = "Python"
>>> print(a)
Python
>>> a = [1, 2, 3]
>>> print(a)
[1, 2, 3]

In [ ]:
>>> print("life" "is" "too short")  # 1번
>>> print("life"+"is"+"too short")  # 2번

In [ ]:
>>> print("life", "is", "too short")

In [ ]:
>>> for i in range(10):
...     print(i, end=' ')

In [ ]:
input("안내_문구")

In [ ]:
>>> number = input("숫자를 입력하세요: ")